table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.homePage{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

